.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th, .table td {
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .button1 {

    text-align: center;
  }
  .add{
    background-color: pink;
    margin: 5px;

  }

  