.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #2c3e50; 
}

.container {
  width: 100%;
  height: fit-content;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
  width: 250px;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff; 
}

.sidenav {
  width: 250px;
  transition: width 0.3s;
}

.left-drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
}

.bottom-drawer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 250px;  
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidenav-expanded {
  width: 300px; 
}

.navlink {
  color: #34495e; 
}

.icon {
  color: #ecf0f1; 
}
