<mat-toolbar class="custom-toolbar" color="primary">
  <button (click)="toggleLeftDrawer()" mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Hotel Reservation System</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-drawer-container class="container" autosize>


  <mat-drawer #leftDrawer class="sidenav left-drawer" mode="side">
    <mat-list *ngFor="let item of navigationList">
      <a routerLinkActive="mat-primary" [ngClass]="'navlink'" active routerLink="/{{ item.link }}" mat-button>
        {{item.name}}
        <mat-icon>{{item.icon}}</mat-icon>
      </a>
    </mat-list>
    <button (click)="toggleLeftDrawer()" mat-icon-button class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-drawer>


  <mat-drawer #bottomDrawer class="sidenav bottom-drawer" mode="over">
    <mat-list *ngFor="let item of navigationList">
      <a routerLinkActive="mat-primary" [ngClass]="'navlink'" active routerLink="/{{ item.link }}" mat-button>
        {{item.name}}
        <mat-icon>{{item.icon}}</mat-icon>
      </a>
    </mat-list>
    <button (click)="toggleBottomDrawer()" mat-icon-button class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
