<div class="booking-container">
    <h2>Book a Room</h2>
    <p>Room ID: {{ roomId }}</p>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
      <label for="customerId">Customer Name:</label>
      <select formControlName="customerId" id="customerId">
        <option *ngFor="let customer of customers" [value]="customer.personId">{{ customer.fullName }}</option>
      </select>
      <br>
      <label for="checkInDate">Check-In Date:</label>
      <input type="date" formControlName="checkInDate" id="checkInDate">
      <br>
      <label for="checkOutDate">Check-Out Date:</label>
      <input type="date" formControlName="checkOutDate" id="checkOutDate">
      <br>
      <!-- Remove the price input field -->
      <button type="submit" [disabled]="!bookingForm.valid">Book Now</button>
    </form>
</div>
