.square-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; 
    width: 400px; 
    padding: 20px;
  }

  .square-form mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  