<form (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Select Hotel ID</mat-label>
    <mat-select [(ngModel)]="formData.hotelId" name="hotelId" required>

      <mat-option *ngFor="let hotel of hotelData" [value]="hotel.hotelId">
        {{ hotel.name }} - {{ hotel.hotelId }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Address Type ID</mat-label>
    <mat-select [(ngModel)]="formData.addressTypeId" name="addressTypeId" required>

      <mat-option *ngFor="let type of addressTypes" [value]="type.addressTypeId">
        {{ type.type }} - {{ type.addressTypeId }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>User Person ID</mat-label>
    <input matInput [(ngModel)]="formData.userPersonId" name="userPersonId" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Country</mat-label>
    <input matInput [(ngModel)]="formData.country" name="country" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>City</mat-label>
    <input matInput [(ngModel)]="formData.city" name="city" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Street Name</mat-label>
    <input matInput [(ngModel)]="formData.streetName" name="streetName" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
