<!-- invoice-form.component.html -->

<div class="invoice-container">
  <span class="invoice-close" (click)="closeInvoice()">&times;</span>
  <div class="invoice">
    <div class="invoice-info">
      <div class="info-block">
        <h3>HOTEL-INFO</h3>
        <div class="form-group">
          <label for="hotelName">Hotel Name</label>
          <input type="text" id="hotelName" value="Grand View Place" readonly>
        </div>
        <div class="form-group">
          <label for="branchName">Branch Name</label>
          <input type="text" id="branchName" value="Main Street" readonly>
        </div>
        <div class="form-group">
          <label for="hotelAddress">Hotel Address</label>
          <input type="text" id="hotelAddress" value="Nepal, Kathmandu, Naikap-05" readonly>
        </div>
      </div>
    </div>

    <div class="invoice-info">
      <div class="info-block">
        <h3>CUSTOMER-INFO</h3>
        <div class="form-group">
          <label for="customerName">Customer Name</label>
          <input type="text" id="customerName" value="Aabha Joshi" readonly>
        </div>
        <div class="form-group">
          <label for="ssn">SSN</label>
          <input type="text" id="ssn" value="789-485-987" readonly>
        </div>
        <div class="form-group">
          <label for="customerAddress">Customer Address</label>
          <input type="text" id="customerAddress" value="Nepal, Kathmandu, Raniban-05" readonly>
        </div>
      </div>
    </div>

    <div class="invoice-info">
      <div class="info-block">
        <h3>INVOICE-INFO</h3>
        <div class="form-group">
          <label for="invoiceId">Invoice ID</label>
          <input type="text" id="invoiceId" [(ngModel)]="invoiceData.invoiceId" name="invoiceId" readonly>
        </div>
        <div class="form-group">
          <label for="balance">Balance</label>
          <input type="text" id="balance" [(ngModel)]="invoiceData.balance" name="balance" readonly>
        </div>
        <div class="form-group">
          <label for="billAmount">Amount</label>
          <input type="text" id="billAmount" [(ngModel)]="invoiceData.billAmount" name="billAmount" readonly>
        </div>
        <div class="form-group">
          <label for="dueDate">Due Date</label>
          <input type="text" id="dueDate" [(ngModel)]="invoiceData.dueDate" name="dueDate" readonly>
        </div>
      </div>
    </div>
  </div>
</div>
